<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/normalize.css">
		<link rel="stylesheet" href="/static/style.css">		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Quiz Startup</title>
	</head>
	<body>
	<section id="fragor">
	<article>
	<div>
	<h1>{{ question_number }}. {{ question }}</h1>
	<form action="{% url "question_page" quiz.slug question_number %}" method="post">
	{% csrf_token %}
	<h2>
		<input type="radio" name="radio" id="radio01" value="1" checked>
			<label for="radio01">
		<span></span>{{ answer1 }}
	</label>
	</h2>
	<h2>
		<input type="radio" name="radio" id="radio02" value="2">
			<label for="radio02">
		<span></span>{{ answer2 }}
	</label>
	</h2>
	<h2>
	<label>
		<input type="radio" name="radio" id="radio03" value="3">
			<label for="radio03">
		<span></span>{{ answer3 }}
	</label>
	</h2>
	<button type="submit">Nästa</button>	
	</form>
	</article>
	</section>
	</body>
	</html>
