<!DOCTYPE html>
<html>
	<head>
		<link rel=”stylesheet” href=”normalize.css”>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Quiz Startup</title>
	</head>
	<body>
	<section id="fragor">
	<article>
	<h1>
	Hur många<br>
	användare har Spotify?
	</h1>
	<div>
  <h2><input type="radio" id="radio01" name="radio" />
  <label for="radio01"><span></span>10 miljoner</label></h2>
	</div>
<div>
 <h2><input type="radio" id="radio02" name="radio" />
 <label for="radio02"><span></span>40 miljoner</label></h2>
</div>
<div>
 <h2><input type="radio" id="radio03" name="radio" />
 <label for="radio03"><span></span>70 miljoner</label></h2>
</div>
	<h2><a href="X">
	Nästa
	</a></h2>
	</article>
	</section>
	</body>
	</html>
