<!DOCTYPE html>
<html>
	<head>
		<link rel=”stylesheet” href=”normalize.css”>
		<link rel="stylesheet" href="/static/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Quiz</title>
	</head>
	<body>
	<section id="intro">
	<article>
	<h1>
	Quiz 
	</h1>
	<h2><a href="startup.html">
	Vad kan du om startups?	
	</a></h2>
	<h2><a href="startup.html">
	Vilket företag byggde vilken produkt?
	</a></h2>
	<h2><a href="startup.html">
	Vad kan du om karriär?
	</a></h2>
	<article>
	</section>
	</body>
	</html>