<!DOCTYPE html>
<html>
	<head>
		<link rel=”stylesheet” href=”normalize.css”>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Quiz Startup</title>
	</head>
	<body>
	<section id="startup">
	<article>
	<h1>
	Vad kan du om startups?
	</h1>
	<h3>
	Kan du allt om startups och nya företag?<br>
	Det här quizet testar dina kunskaper inom startup-världen. 
	</h3>
	<h2><a href="fragor.html">
	Starta quizet
	</a></h2>
	</article>
	</section>
	</body>
	</html>